h2 {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
}

div .botao {
  width: 400px;
}

.modal {
  align-items: center;
  align-content: center;
  align-self: center;
}
